doctype 5
html(lang="en")
  head
    title= mainTitle
    link(rel="stylesheet", href="/index.css")
    script(src="/app.js")
    //- script(type='text/javascript')
    //-   if (foo) {
    //-      bar()
    //-   }
  body
    h2 Contry icons:
    ul
    each icon in icons
      li
        a(href="/#{iconCountry}/#{icon.id}") #{icon.name}